body {
    max-width: 600px;
    margin: auto;
}

.one {
    background-color: blueviolet;
    border: 3px solid pink;
    padding: 32px;
    margin: 12px;
}

.two {
    margin-bottom: 48px;
    background-color: darkblue;
    color: aliceblue;
    border: 3px solid salmon;
}

.three {
    padding: 32px;
    background-color: chartreuse;
    border: 3px solid red;
    margin-left: auto;

}
