body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  font-size: 16px;
  margin-bottom: 8px;
}

.content {
  padding: 16px;
  margin-bottom: 8px;
  background: #e3f4ff;

}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
  border: 5px solid #eee;
}

button {
  background: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}