.header {
    font-family:monospace;
    background-color: papayawhip;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 48px;
    font-weight: 900;
    color: turquoise;
    background: white;
    padding: 4px 32px;
}

ul {
    list-style-type: none;
}

a {
    font-size: 22px;
    background: wheat;
    padding: 8px;
    text-decoration:none;
}


ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}
