.container {
    background: lightblue;
    border: 4px solid blue;
    width: 400px;
    height: 300px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: paleturquoise;
    font-weight: bold;
    border: 6px solid maroon;
    text-align: center;
    width: 80px;
    height: 80px;
}
